# https://github.com/plinss/flake8-literal#options
# https://flake8.pycqa.org/en/latest/user/options.html
# https://github.com/DmytroLitvinov/awesome-flake8-extensions

[flake8]
indent-size = 4
max-line-length = 88
literal-inline-quotes = single
literal-multiline-quotes = single
literal-docstring-quotes = single
