#[Platform]
.vscode
.DS_Store

#[Environment]
.env
.venv
.pytest_cache

tmp/*
!tmp/.gitkeep

#[Packaging & Distribution]
dist/
sdist/
build/
wheels/

#[Byte-compiled, Optimized & DLL Files]
.tox
*.egg-info
__pycache__
