[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
pytest = "*"
flake8 = "*"
pyright = "*"
pytest-pspec = "*"
flake8-literal = "*"
flake8-pyproject = "*"
flake8-absolute-import = "*"
mezages = {file = ".", editable = true}

[dev-packages]

[requires]
python_version = "3.11"
