[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flake8 = "*"
pyright = "*"
autopep8 = "*"
pytest = "*"
pytest-pspec = "*"

[dev-packages]

[requires]
python_version = "3.11"
